<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.feitwnd.mapper.ViewMapper">

    <insert id="insert">
        insert into views (visitor_id, page_path, referer, ip_address, user_agent, view_time)
        values (#{visitorId}, #{pagePath}, #{referer}, #{ipAddress}, #{userAgent}, #{viewTime})
    </insert>
</mapper>
