@font-face {
  font-family: "iconfont"; /* Project id 5053736 */
  src: url('iconfont.woff2?t=1761841377838') format('woff2'),
       url('iconfont.woff?t=1761841377838') format('woff'),
       url('iconfont.ttf?t=1761841377838') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
  content: "\e615";
}

.icon-youxiang:before {
  content: "\e664";
}

.icon-jianli:before {
  content: "\e677";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-csdn1:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e673";
}

.icon-boke:before {
  content: "\e6a8";
}

